@model PSS.Models.Proyectos
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <table width="100%" border="0">
                <tr>
                    <td valign="middle" nowrap><h4>Gestión de Proyectos</h4></td>
                    <td valign="bottom" width="30%" align="center">
                        <div class="form-group">
                            <br /><input type="submit" value="Grabar" class="btn btn-primary" onclick="return CompruebaProyectos()" />
                        </div>
                    </td>
                    <td width="30%" align="center">
                        <div class="form-group">
                            <input asp-for="IdEmpre" class="form-control" value="@Context.Session.GetString("IdEmpresa")" style="display:none;" />
                        </div>
                    </td>

                </tr>
            </table>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdObra" />
            <div class="panel panel-default" style="width: 1200px; padding: 10px; margin: 10px">
                <div id="Tabs" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#DGeneralesI" aria-controls="DGeneralesI" role="tab" data-toggle="tab">
                                Datos I
                            </a>
                        </li>
                        <li>
                            <a href="#DGeneralesII" aria-controls="DGeneralesII" role="tab" data-toggle="tab">
                                Datos  II
                            </a>
                        </li>
                        <li>
                            <a href="#DGeneralesIII" aria-controls="DGeneralesIII" role="tab" data-toggle="tab">
                                Datos  III
                            </a>
                        </li>
                        <li>
                            <a href="#DGeneralesIV" aria-controls="DGeneralesIV" role="tab" data-toggle="tab">
                                Datos  IV
                            </a>
                        </li>
                        <li>
                            <a href="#DFases" aria-controls="DFases" role="tab" data-toggle="tab">
                                Fases
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top: 20px">
                        <div role="tabpanel" class="tab-pane active" id="DGeneralesI">
                            <table width="100%">
                                <tr>
                                    <td colspan="2">
                                        <div class="form-group">
                                            <label asp-for="NombreObra" class="control-label"></label>
                                            <input asp-for="NombreObra" class="form-control" />
                                            <span asp-validation-for="NombreObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="TipoEstudio" class="control-label"></label>
                                            <select id="SelectTipoEstudio" name="SelectTipoEstudio" class="form-control" onselect="" onclick="getTipoEstudios('../GetTiposEstudio');">
                                                <option value="0">Seleccione un Tipo de Estudio</option>
                                            </select>
                                            <input asp-for="TipoEstudio" class="form-control" style="display:none;" />
                                            <span asp-validation-for="TipoEstudio" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="Cliente" class="control-label"></label>
                                            <input asp-for="Cliente" class="form-control" />
                                            <span asp-validation-for="Cliente" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="DireccionObra" class="control-label"></label>
                                            <input asp-for="DireccionObra" class="form-control" />
                                            <span asp-validation-for="DireccionObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="20%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="ProvinciaObra" class="control-label"></label>
                                            <select id="SelectProvinciaObra" name="SelectProvinciaObra" class="form-control" onselect="" onclick="getProvincias('../../Provincias/GetProvincias');">
                                                <option value="0">Seleccione una Provincia</option>
                                            </select>
                                            <input asp-for="ProvinciaObra" class="form-control" style="display:none;" />
                                            <span asp-validation-for="ProvinciaObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="CiudadObra" class="control-label"></label>
                                            <input asp-for="CiudadObra" class="form-control" />
                                            <span asp-validation-for="CiudadObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="CpObra" class="control-label"></label>
                                            <input asp-for="CpObra" class="form-control-medium" />
                                            <span asp-validation-for="CpObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="Promotor" class="control-label"></label>
                                            <input asp-for="Promotor" class="form-control" />
                                            <span asp-validation-for="Promotor" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="AutorProyecto" class="control-label"></label>
                                            <input asp-for="AutorProyecto" class="form-control" />
                                            <span asp-validation-for="AutorProyecto" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="Autor" class="control-label"></label>
                                            <input asp-for="Autor" class="form-control" />
                                            <span asp-validation-for="Autor" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td>
                                        <table width="100%">
                                            <tr>
                                                <td width="50%">
                                                    <div class="form-group">
                                                        <label asp-for="PemPec" class="control-label"></label>
                                                        <select id="SelectPresupuesto" name="SelectPresupuesto" class="form-control" onclick="getPresupuestos('../GetPresupuestos');">
                                                            <option value="0">Seleccione un tipo de presupuesto</option>
                                                        </select>
                                                        <input asp-for="PemPec" class="form-control" style="display:none;" />
                                                        <span asp-validation-for="PemPec" class="text-danger"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label asp-for="Presupuesto" class="control-label"></label>
                                                        <input asp-for="Presupuesto" class="form-control" />
                                                        <span asp-validation-for="Presupuesto" class="text-danger"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="Duracion" class="control-label"></label>
                                            <input asp-for="Duracion" class="form-control" />
                                            <span asp-validation-for="Duracion" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                            </table>

                            <div class="form-group" style="display:none;">
                                <label asp-for="NumOt" class="control-label"></label>
                                <input asp-for="NumOt" class="form-control-small" />
                                <span asp-validation-for="NumOt" class="text-danger"></span>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="DGeneralesII">
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="Tecnico" class="control-label"></label>
                                            <input asp-for="Tecnico" class="form-control" />
                                            <span asp-validation-for="Tecnico" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="CssfaseProyecto" class="control-label"></label>
                                            <input asp-for="CssfaseProyecto" class="form-control" />
                                            <span asp-validation-for="CssfaseProyecto" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td width="20%">
                                        <div class="form-group">
                                            <label asp-for="NumTrabajadores" class="control-label"></label>
                                            <input asp-for="NumTrabajadores" class="form-control" />
                                            <span asp-validation-for="NumTrabajadores" class="text-danger"></span>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="Contratista" class="control-label"></label>
                                            <input asp-for="Contratista" class="form-control" />
                                            <span asp-validation-for="Contratista" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="DireccionContratista" class="control-label"></label>
                                            <input asp-for="DireccionContratista" class="form-control" />
                                            <span asp-validation-for="DireccionContratista" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="CiudadContratista" class="control-label"></label>
                                            <input asp-for="CiudadContratista" class="form-control" />
                                            <span asp-validation-for="CiudadContratista" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="ProvinciaContratista" class="control-label"></label>
                                            <input asp-for="ProvinciaContratista" class="form-control" />
                                            <span asp-validation-for="ProvinciaContratista" class="text-danger"></span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="CpContratista" class="control-label"></label>
                                            <input asp-for="CpContratista" class="form-control" />
                                            <span asp-validation-for="CpContratista" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="JefeObra" class="control-label"></label>
                                            <input asp-for="JefeObra" class="form-control" />
                                            <span asp-validation-for="JefeObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="Encargado" class="control-label"></label>
                                            <input asp-for="Encargado" class="form-control" />
                                            <span asp-validation-for="Encargado" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="RecursoPreventivo" class="control-label"></label>
                                            <input asp-for="RecursoPreventivo" class="form-control" />
                                            <span asp-validation-for="RecursoPreventivo" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="DGeneralesIII">
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="TipoObra" class="control-label"></label>
                                            <input asp-for="TipoObra" class="form-control" />
                                            <span asp-validation-for="TipoObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="40%">
                                        <div class="form-group">
                                            <label asp-for="Superficie" class="control-label"></label>
                                            <input asp-for="Superficie" class="form-control" />
                                            <span asp-validation-for="Superficie" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td width="20%"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <label asp-for="DescripcionObra" class="control-label"></label>
                                            <textarea asp-for="DescripcionObra" rows="5" class="form-control"></textarea>
                                            <span asp-validation-for="DescripcionObra" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <label asp-for="DescripcionLugar" class="control-label"></label>
                                            <textarea asp-for="DescripcionLugar" rows="5" class="form-control"></textarea>
                                            <span asp-validation-for="DescripcionLugar" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="LinderoNorte" class="control-label"></label>
                                            <input asp-for="LinderoNorte" class="form-control" />
                                            <span asp-validation-for="LinderoNorte" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="LinderoSur" class="control-label"></label>
                                            <input asp-for="LinderoSur" class="form-control" />
                                            <span asp-validation-for="LinderoSur" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="LinderoEste" class="control-label"></label>
                                            <input asp-for="LinderoEste" class="form-control" />
                                            <span asp-validation-for="LinderoEste" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label asp-for="LinderoOeste" class="control-label"></label>
                                            <input asp-for="LinderoOeste" class="form-control" />
                                            <span asp-validation-for="LinderoOeste" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <label asp-for="TraficoRodado" class="control-label"></label>
                                            <input asp-for="TraficoRodado" class="form-control" />
                                            <span asp-validation-for="TraficoRodado" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <label asp-for="Climatologia" class="control-label"></label>
                                            <input asp-for="Climatologia" class="form-control" />
                                            <span asp-validation-for="Climatologia" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <label asp-for="CaracteristicasTerreno" class="control-label"></label>
                                            <input asp-for="CaracteristicasTerreno" class="form-control" />
                                            <span asp-validation-for="CaracteristicasTerreno" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                            </table>




                        </div>
                        <div role="tabpanel" class="tab-pane" id="DGeneralesIV">
                            <table width="100%">
                                <tr>
                                    <td width="50%">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="AccesosRodados" /> @Html.DisplayNameFor(model => model.AccesosRodados)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="CirculacionesPeatonales" /> @Html.DisplayNameFor(model => model.CirculacionesPeatonales)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="LinElectAereas" /> @Html.DisplayNameFor(model => model.LinElectAereas)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="LinElectEnterradas" /> @Html.DisplayNameFor(model => model.LinElectEnterradas)
                                                </label>
                                            </div>
                                        </div>

                                    </td>

                                    <td widt="50%">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="Transformadores" /> @Html.DisplayNameFor(model => model.Transformadores)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="LineasTelefonicas" /> @Html.DisplayNameFor(model => model.LineasTelefonicas)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="ConduccionesGas" /> @Html.DisplayNameFor(model => model.ConduccionesGas)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="Alcantarillado" /> @Html.DisplayNameFor(model => model.Alcantarillado)
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="InstProviAreasAux" /> @Html.DisplayNameFor(model => model.InstProviAreasAux)
                                                </label>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        @{
                                            var parms = new Dictionary<string, string>
                                                                                                                                            {
                                                                                                                                                { "NombreObra", Model.NombreObra },
                                                                                                                                                { "IdObra", Model.IdObra.ToString () }
                                                                                                                                            };
                                        }
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div id="DFases" class="tab-pane">
                            <a class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">Agregar</a>
                            <br />
                            <br />
                            <div id="TFases" name="TFases"></div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anterior</a>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdProyecto" class="control-label">IdProyecto</label>
                        <input name="IdProyecto" id="IdProyecto" class="form-control" value="@Model.IdObra" />
                    </div>
                    <div class="form-group">
                        <label for="IdFase" class="control-label">IdFase</label>
                        <input name="IdFase" id="IdFase" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Fase" class="control-label">Fase</label>
                        <input name="Fase" id="Fase" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p id="mensajenuevo"></p>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="crearFase('../../Fases/CrearFasePorProyecto')">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id" class="control-label">Id</label>
                        <input name="EId" id="EId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="IdProyecto" class="control-label">IdProyecto</label>
                        <input name="EIdProyecto" id="EIdProyecto" class="form-control" value="@Model.IdObra" />
                    </div>
                    <div class="form-group">
                        <label for="IdFase" class="control-label">IdFase</label>
                        <input name="EIdFase" id="EIdFase" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Fase" class="control-label">Fase</label>
                        <input name="EFase" id="EFase" class="form-control" />
                    </div>
                    <div class="form-group">
                        <p id="Emensajenuevo"></p>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="actualizarFase('../../Fases/ActualizarFasePorProyecto')">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Esta seguro de eliminar la fase?</h4>
            </div>
            <div class="modal-body">
                <h3 id="eUsuario"></h3>
                <input type="hidden" name="EId2" id="EId2">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" onclick="eliminarFase('Fases/DeleteFase')">Eliminar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.onload = function () {
        CargaProyectos();
    }
</script>
