@model PSS.Models.Actividades

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actividades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdActividad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdActividad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actividad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
